<h1>Semester List</h1>

<ol>
  <% @semesters.each do |semester| %>
  <li><%= link_to semester.quarter, semester_path(semester) %> - <%= semester.formatted_year %>
  </li>
  <% end %>
</ol>

<p><%= link_to "Add a Semester", new_semester_path(@semester) %></p>
